<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="gitlab" value="https://gitlab.com/api/v4/groups/12641724/-/packages/nuget/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <gitlab>
            <add key="Username" value="gitlab-ci-token" />
            <add key="ClearTextPassword" value="##CI_JOB_TOKEN##" />
        </gitlab>
    </packageSourceCredentials>
</configuration>
